<odoo>
<data>
    <!-- Top menu item -->
    
<menuitem name="CNW NUMB" groups="cnw_reg_user" web_icon="cnw_numbering,static/description/icon.png" id="cnw_numbering_menu_root"/> 
   
    <menuitem sequence="200" name="[D] oc Numbering"  groups="cnw_reg_user"  id="cnw_numbering_menu_200" parent="cnw_numbering_menu_root" />    

    <menuitem sequence="201" name="Document Numbering"  groups="cnw_reg_user"  id="cnw_numbering_menu_201" parent="cnw_numbering_menu_200" action="cnw_numbering_action" />    
  
 
    </data>
</odoo>